---
import H2 from "./typograpy/H2.astro";
import type PostInterface from "~/interfaces/post.interface";
import { Image } from "astro:assets";
import Button from "./Button.astro";

interface Props {
  item: PostInterface;
  baseUrl: string;
}
const item = Astro.props.item.data;
const baseUrl = Astro.props.baseUrl;
const url = `${baseUrl}/${Astro.props.item.slug}/`;
---

<style>
  p {
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }
</style>

<article class="w-full flex flex-col justify-between">
  <a href={url}>
    <Image
      src={item.image}
      class="mb-5 rounded-lg"
      alt="image"
      title="test"
      width={280}
      height={280}
    />
  </a>
  <h3
    class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white"
  >
    <a href={url} class="text-gray-900">{item?.product || item?.title}</a>
  </h3>
  <p class="mb-4 text-gray-500 dark:text-gray-400">
    {item?.excerpt || item?.description}
  </p>
  <a
    rel="bookmark"
    href={url}
    class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline"
  >
    {item?.readTime}
  </a>
  <Button href={url}>Leer más</Button>
</article>
